:root {
  --theme-color: #2b94f0;
  --fg-color: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--theme-color);
  color: var(--fg-color);
  overflow: hidden;
  font-family: sans-serif;
}

* {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.container {
  width: 90vw;
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}

.animatable {
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}
.invisible {
  transform: translateY(10px);
  opacity: 0;
}

p,
div.p {
  color: white;
  margin-bottom: 30px;
  line-height: 1.5em;
}

p.error {
  display: none;
  color: red;
  font-weight: 500;
  word-wrap: break-word;
  user-select: text;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

.logo {
  color: var(--fg-color);
  margin-bottom: 30px;
  width: 60vw;
  max-width: 400px;
}

input.m-input {
  width: 80vw;
  max-width: 800px;
  padding: 10px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

input.m-input:focus {
  border-color: #0096ff;
  box-shadow: 0 0 4px var(--theme-color);
}

.m-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: var(--theme-color);
  background-color: var(--fg-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.m-button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: not-allowed;
}

.m-button.link {
  background-color: unset;
  color: var(--fg-color);
}

.login-button {
  margin: 10px;
  margin-top: 20px;
}

#folder-list {
  margin: 15px;
  text-align: left;
}

.folder-choose {
  font-size: 1.1em;
  margin-top: 4px;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 1.2em;
  line-height: 1.8em;
}

input[type="checkbox"] {
  width: 2em;
  height: 2em;
}
