.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
js/
*.tsbuildinfo

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode/launch.json

.marginalia

build/
coverage/
.php_cs.cache
.php-cs-fixer.cache
vendor
memories.tar.gz
/test-results/
/playwright-report/
/playwright/.cache/
.cache/

bin-ext/

.devcontainer/config/
.devcontainer/data/
