// Top bar is above everything else on mobile
body:has(.memories-top-bar) > header {
  @media (max-width: 1024px) {
    z-index: 0 !important;
  }
}
body:has(.memories_viewer, .search-overlay) > header {
  z-index: 0 !important;
}

// Allow hiding app name (PublicShareHeader)
header#header .header-appname {
  transition: opacity 0.2s ease-in-out;
  &.hidden {
    opacity: 0 !important;
  }
}

// Our menu buttons
.memories-menu-item {
  background-color: transparent !important;

  header#header & {
    color: var(--color-background-plain-text, var(--color-primary-text)) !important;
  }

  opacity: 0.85;
  &:hover {
    opacity: 1;
  }
}
