// Make popper menus full height
.v-popper--theme-dropdown .v-popper__inner {
  max-height: calc(90vh - 86px) !important; // was 50vh
}

// Make sure empty content is full width
[role='note'].empty-content {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px;
}

// Make NcListItem border-box to prevent overflow
li.list-item__wrapper {
  > a.list-item {
    box-sizing: border-box;
  }
}

div.oc-dialog[role='dialog'] {
  // Make OC dialogs larger to a minimum width
  min-width: min(400px, 90vw);

  // Hide icon and label in prompts
  &.dialog-prompt {
    .ui-icon,
    label {
      display: none;
    }

    input[type='text'] {
      width: 100%;
    }
  }
}
