// Increase padding on popper menu to make it clickable
.v-popper__popper ul[role="menu"] li {
  padding: 3px !important;
  &:hover {
    padding: 3px !important;
  }
  .action-button__longtext-wrapper {
    margin-left: 3px;
  }
}

// Make tag dropdown show over modal
ul.nc-select__dropdown {
  z-index: 10000;
}
