name: memories_dev

volumes:
  config:
  data:
  database:

services:
  nextcloud:
    build: .
    depends_on:
      - db
      - redis
    volumes:
      - ../:/var/www/html/custom_apps/memories:rw
      - config:/var/www/html/config:rw
      - data:/var/www/html/data:rw
    environment:
      - TZ=America/Los_Angeles
      - MYSQL_PASSWORD=nextcloud
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_HOST=db
      - REDIS_HOST=redis
      - OVERWRITEPROTOCOL=https
      - PHP_MEMORY_LIMIT=1G
      - PHP_UPLOAD_LIMIT=1G
      - DEBIAN_FRONTEND=noninteractive

  db:
    image: mariadb:11
    restart: always
    pull_policy: always
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW --log_bin_trust_function_creators=1
    volumes:
      - database:/var/lib/mysql:rw
    environment:
      - MYSQL_ROOT_PASSWORD=nextcloud
      - MYSQL_PASSWORD=nextcloud
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MARIADB_AUTO_UPGRADE=1
      - MARIADB_INITDB_SKIP_TZINFO=1

  redis:
    image: redis:alpine
    pull_policy: always
    restart: always
