---
name: static analysis
on:
  push:
    paths-ignore:
      - 'docs/**'
      - 'go-vod/**'
      - 'android/**'
      - 'mkdocs.yml'
      - '**.md'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'go-vod/**'
      - 'android/**'
      - 'mkdocs.yml'
      - '**.md'

jobs:
  php-lint:
    name: PHP Lint
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php-versions: ['8.2', '8.3']
        server-versions: ['stable29', 'stable30', 'stable31']

    steps:
      - name: Checkout server
        uses: actions/checkout@v4
        with:
          submodules: true
          repository: nextcloud/server
          ref: ${{ matrix.server-versions }}

      - name: Checkout the app
        uses: actions/checkout@v4
        with:
          path: apps/memories

      - name: Set up php ${{ matrix.php-versions }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}

      - name: Install dependencies
        working-directory: apps/memories
        run: |
          make install-tools

      - name: Run PHP-CS-Fixer
        if: ${{ ! cancelled() }}
        working-directory: apps/memories
        run: |
          vendor/bin/php-cs-fixer fix --dry-run --diff --verbose

      - name: Run Psalm
        if: ${{ ! cancelled() }}
        working-directory: apps/memories
        run: |
          vendor/bin/psalm --no-cache --shepherd --stats --threads=max lib

  vue-lint:
    name: Vue Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the app
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci

      - name: Run vue-tsc
        run: npx vue-tsc --noEmit --skipLibCheck

      - name: Run Prettier
        run: npx prettier src --check
